name: Ruff

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check code
        uses: astral-sh/ruff-action@v3
        with:
          args: "check --fix"

      - name: Format code 
        uses: astral-sh/ruff-action@v3
        with:
          args: "format"

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: 'style fixes by ruff'
